{% extends 'base.html' %}
{%load staticfiles%}

{% block content %}
<a href='{% url 'event-search' %}'><img src="https://cdn0.iconfinder.com/data/icons/vector-basic-tab-bar-icons/48/back_button-512.png"
         alt="Generic placeholder thumbnail"style ="width:75px;height:auto;" >
    </a>
<h1 style ="text-align: center; font-size: 5em;"> {{object.first_name}} {{object.last_name}}</h2>
<h3 style ="text-align: center; font-size: 3em;">Email: {{object.email}} </h3>
<h3 style ="text-align: center; font-size: 2em;"> Tags : {{object.tags.all|join:", "}}</h3> 


<h1 style="border-top: solid 1px;">Hosted Events</h1>

{% for y in object.hosted_events.all %}
<div class = 'row'>
  <div class="col-md-3">

    <a href='{% url 'event-detail' y.id %}' class="thumbnail">
      {% if y.images.all.0 %}
      <img src="{{y.images.all.0.image.url}}" class="img-responsive" alt="Image Thumbnail">
      {%else%}
      <img src="{% static 'Eventscape logo.jpg'%}"/>
      {%endif%}
    </a>
  </div>
  <div class = 'col-md-9'>
    <h3><a  href='{% url 'event-detail' y.id %}'>{{ y.name }}</a></h3>
    <ul class = 'list-unstyled list-inline'>
      <li><a target = "_blank" href = "http://maps.google.com/?q={{y.address}}+{{y.city}}+{{y.state}}"> {{ y.address }}, {{ y.city }}, {{ y.state }}</a></li>
      <li><a href = "#"></a>{{ y.start }}</li>
      <li><a href='{% url 'user-profile' y.host.pk %}'>Hosted by {{ y.host }}</a></li>
    </ul>
    <p>{{ y.description }} <a href='{% url 'event-detail' y.id %}'>See More </a></p>
  </div>
</div>
{% endfor %}


<!-- This should display  -->
<h1 style="border-top: solid 1px;"> Events Attending </h1> 
{% for x in object.attended_events.all %}
<div class = 'row'>
  <div class="col-md-3">

    <a href='{% url 'event-detail' x.id %}' class="thumbnail">
      {% if x.images.all.0 %}
      <img src="{{x.images.all.0.image.url}}" class="img-responsive" alt="Image Thumbnail">
      {%else%}
      <img src="{% static 'Eventscape logo.jpg'%}"/>
      {%endif%}
    </a>
  </div>
  <div class = 'col-md-9'>
    <h3><a  href='{% url 'event-detail' x.id %}'>{{ x.name }}</a></h3>
    <ul class = 'list-unstyled list-inline'>
      <li><a target = "_blank" href = "http://maps.google.com/?q={{x.address}}+{{x.city}}+{{x.state}}"> {{ x.address }}, {{ x.city }}, {{ x.state }}</a></li>
      <li><a href = "#"></a>{{ x.start }}</li>
      <li><a href='{% url 'user-profile' x.host.pk %}'>Hosted by {{ x.host }}</a></li>
    </ul>
    <p>{{ x.description }} <a href='{% url 'event-detail' x.id %}'>See More </a></p>
  </div>
</div>

{% endfor %}
<div class = "row" style="border-top: solid 1px;">
   	<div class = "col-md-4" style = 'border: 1px solid black'>
        <h3 style = 'text-align:center'><a href='{% url 'event-new' %}'>Add an Event</a></h3>
    </div>
    <div class = "col-md-4" style = 'border: 1px solid black'>
        <h3 style = 'text-align:center'><a href = "../../">View all events</a></h3>
    </div>
    
    {% if object.id == user.id %}
    <div class = "col-md-4" style = 'border: 1px solid black'>
        <h3 style = 'text-align:center'><a href='{% url 'user-edit' %}'>Edit Profile</a></h3>
    </div>
    {% else %}
    <div class = "col-md-4 follow" user-id="{{object.id}}" style = 'border: 1px solid black'>
        <h3 style = 'text-align:center'><a> Subscribe to User</a></h3>
    </div>
    {% endif %}
</div>
{% endblock %}