{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional: Include the jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 <div class = "nav"> 
        <div class = "container"> 
            <img src = "https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" /> 
        </div>
    
    </div>
        <div class = "jumbo">
            <div class = "container">
<!--                <img src = "C:\Users\Mauricio\Desktop\School\3 Senior Year\CS133 Database Systems\Homework\Project\EventScape-logo-No-White.jpg" /> -->
                <h1> Event Scape</h1>

                <p> Never miss out again</p>
                <input type="text" class="form-control" id="usr" placeholder="Username">
                <input type="text" class="form-control" id="usr" placeholder="Password">
                <ul> 
                    <li><a href="#" class="btn btn-primary btn-default">Sign up</a></li>
                    <li><a href="#" class="btn btn-primary btn-default">Log In</a></li>
                </ul>
            </div>
        </div>