{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <a href='{% url 'event-search' %}'><img src="https://cdn0.iconfinder.com/data/icons/vector-basic-tab-bar-icons/48/back_button-512.png"
         alt="Generic placeholder thumbnail"style ="width:75px;height:auto;" >
    </a>
<h1 style = "text-align: center;"><strong>{{object.name}}</strong> </h1>
<div class = "jumbotron" style= "margin:0px; padding:0px;">
{% for i in object.images.all %}
    <img src="{{ i.image.url }}">
{% endfor %}
</div>

<div style= "margin-bottom: 100px; border: solid 3px;margin-top:10px"> 
<h2> Description </h2> 
<p> {{object.description}} </p>
<br> 

<span id = "time"><strong>Time: </strong> {{object.start}} to {{object.end}} </span>
<br>
<span id = "address"> <strong>Address:</strong> {{object.address}}, {{object.city}}, {{object.state}}</span>
</div> 
<div class = "row">
   	<div class = "col-md-4" style = 'border: 1px solid black'>
        <h3 style = 'text-align:center'><a href = "new">Edit Event</a></h3>
    </div>
    <div class = "col-md-4" style = 'border: 1px solid black'>
        <!-- Not working currently -->
        <h3 style = 'text-align:center'><a href='{% url 'event-delete' object.id%}'>Delete Event</a></h3>
    </div>
    <div class = "col-md-4" style = 'border: 1px solid black'>
        <h3 style = 'text-align:center'><a href = "../../">View my profile</a></h3>
    </div>

</div>
{% endblock %}