{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%load staticfiles%}

{% block content %}
{% crispy form %}
<!--Events from Database-->
{% for obj in object_list %}

<div class = 'row'>
  <div class="col-md-3">

    <a href="#" class="thumbnail">
      {% if obj.images.all.0 %}
      <img src="{{obj.images.all.0.image.url}}" class="img-responsive" alt="Image Thumbnail">
      {%else%}
      <img src="{% static 'Eventscape logo.jpg'%}"/>
      {%endif%}
    </a>
  </div>
  <div class = 'col-md-9'>
    <h3><a  href='{% url 'event-detail' obj.id %}'>{{ obj.name }}</a></h3>
    <ul class = 'list-unstyled list-inline'>
      <li><a target = "_blank" href = "http://maps.google.com/?q={{obj.address}}+{{obj.city}}+{{obj.state}}"> {{ obj.address }}, {{ obj.city }}, {{ obj.state }}</a></li>
      <li><a href = "#"></a>{{ obj.start }}</li>
      <li><a href = "#">Hosted by {{ obj.host }}</a></li>
    </ul>
    <p>{{ obj.description }} <a href = "#">See More </a></p>
  </div>
</div>
{% endfor %}


<div class = "row">
   	<div class = "col-md-6" style = 'border: 1px solid black'>
        <h3 style = 'text-align:center'><a href = "new">Add an Event</a></h3>
    </div>
    <div class = "col-md-6" style = 'border: 1px solid black'>
        <h3 style = 'text-align:center'><a href='{% url 'user-profile' user.pk %}'>View my profile</a></h3>
    </div>


</div>

{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" media="screen"
 href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block js %}
<script type="text/javascript"
 src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/src/js/bootstrap-datetimepicker.js">
</script>
<script type="text/javascript">
	$(function () {
		$('.date').datetimepicker({
			format: 'YYYY-MM-DD hh:mm:ss',
			language: 'en-US'
		});
	});
</script>
{% endblock %}