<!DOCTYPE html>
{%load staticfiles%}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    {% block css %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body style="background: url('http://desktopbackgroundshq.com/backgrounds/styles/larger/public/white-background-design-backgrounds-28564.jpg?itok=SR8GkMmR') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;margin:0px;padding:0px;">
<div style="height: 6em; width = auto;margin:0px; padding:0px;background-color:black;text-align:center;">
<h1 style = "color:white;margin: auto;font-size:5em;display:inline-block;">EventScape</h1>
<img src="{% static 'Eventscape logo.jpg'%}"style="height: 6em; width: auto;display: inline-block;float:right;"/>
</div>
<div class="container">
{% block content %}{% endblock %}
</div>
{% block js %}{% endblock %}
</body>
</html>